.cardDetail{
    margin: auto;
    max-width: 300px;
    text-align: center;
    border-radius: 15px;
    background-color: #a9e3ef;
    width: 250px;
    padding: 20px;
    

    
        &__image{
            height: 150px;
            width: 150px;
            
        }
        &__link {
            background-color: #a9e3ef;
            text-decoration: none;
            color: rgb(255, 255, 255);
            width: 100%;
        }
        &__species {
            background-color: #a9e3ef;
            font-size: 15px;
            color:white;
        }
        &__name {
            background-color: #a9e3ef;
        }
    }


