.chaDetail {
    display: flex;
    align-items: end;
    justify-content: center;
    flex-direction: column;
    max-width: 700px;
    margin: auto;  
    
    &__link {
        background-color: #a9e3ef;
        border: 1px solid #0c8193;
        text-decoration: none;
        display: flex;
        justify-content: center;
        color: white;
        font-size: 16px;
        border-radius: 5px;
        padding: 5px 10px;
        width: 150px;
            &:hover {
                border: 2px solid #1db9d1;
        }
    }
        &__card {
            font-family: 'Open Sans', sans-serif;
        background-color: #a9e3ef;
        margin-bottom: 40px;
        display: flex;
        flex-direction: row;
        padding: 40px;
        color: white;
        font-size: 16px;
        line-height: 28px;
        width: 100%;
        justify-content: center;
        
    }
    h1 {
        background-color: #a9e3ef;    
        padding-bottom: 50px;
        font-size: 25px;
        
    }
    p {
        background-color: #a9e3ef; 
        b {
            background-color: #a9e3ef; /* Fondo para las palabras en <b> */
            color: inherit; /* Asegura que el color del texto coincida */
            display: inline-block; /* Opcional, si quieres que respete el fondo */
            
        }
    }

    img {
        border: 2px solid #0c8193;
        height: 188px;
        margin-right: 45px;
        width: 188px;
        margin-left: 10px;
    }
    
}